<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/style.css" />

  <!-- fonts -->

  <link rel="stylesheet" href="https://use.typekit.net/ddq2rww.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap" rel="stylesheet">

  <title>Visual Thinking in het HBO</title>
  <script src="/scripts/script.js" defer></script>
</head>

<body>
  <header>
    <section class="header-logo">
      <a class="logo" href="#">
        <img src="/assets/0-logo/vtHBO-logo.svg" alt="Visual Thinking Logo" width="50px" />
      </a>
      <section class="toggler">
        <img src="/assets/0-logo/hambuger-menu.svg" />
      </section>

      <!-- Start Navigation -->
      <nav>
        <ul>
          <li></li>
          <li><a href="#">Over</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <a href="#">
          <img src="/assets/0-logo/1-icons/account.svg" class="account" />
        </a>
      </nav>
    </section>
  </header>
</body>

</html>