<%- include('./partials/detail-page-head')%>

       <h1>
          <%= method.title %>
        </h1>

        <p>
            <%- method.description.html %>
        </p>

<section class=""></section>

<%- include('./partials/foot') %>