:root {
  --vtDarkBlue: #090940;
  --vtLightBlue: #31439c;
  --vtButton: #de563b;
  --vtGrey: #f9f9f9;
  --vtBorders: #e0dedc;
  --vtYellow: #feb51e;
  --vtFooter: #625c51;
  --mainBackground: #ffffff;

  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;

  --vtMenuFont: 800 20px "rigid-square", sans-serif;
  --vtH1Font: 800 36px "rigid-square", sans-serif;
  --vtH2Font: 800 20px "rigid-square", sans-serif;
}

/*
                        MOBILE FIRST
*/

.line {
  background-color: var(--vtLightBlue);
  color: var(--mainBackground);
  text-transform: uppercase;
  font-family: var(--vtPrimaryFont);
  padding: 10px 0px 10px 60px;
}

.line::before {
  content: url(/assets/0-logo/1-icons/arrow-left.svg);
}

.line span {
  padding-left: 20px;
  display: inline;
}

/*
                        title 
*/

.title {
  background-color: var(--vtGrey);
  padding: 30px 50px;
}

.mini-nav {
  overflow: auto;
  white-space: nowrap;
}

.mini-nav a {
  font-family: var(--vtPrimaryFont);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: var(--vtLightBlue);

  padding: 20px;
}

.mini-nav .active {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}

.mini-nav a:nth-child(1) {
  padding-left: 0px;
}

/*
                        main content
*/

.main-content {
  display: grid;
  grid:
    ". example ." auto
    ". text ." 1fr
    / 0.5fr 3fr 0.5fr;

  margin-top: 50px;
}

.example {
  grid-area: example;
}

.description {
  grid-area: text;
}

.template-image {
  width: 100%;
  border: 1px solid #dfdedc;
  margin-bottom: 50px;
}

.description blockquote {
  display: none;
}

.description ul li {
  font-family: var(--vtSecondaryFont);
  color: var(--vtDarkBlue);
  font-size: 22px;
  font-weight: 400;
  margin-left: 30px;
}

.description p {
  font-family: var(--vtSecondaryFont);
  color: var(--vtDarkBlue);
  font-size: 22px;
  font-weight: 400;
}

/*
                        stappenplan
*/

.full-b {
  flex-direction: column;
  margin-left: 50px;
}

.tags-b {
  margin-left: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--vtYellow);
  color: var(--vtDarkBlue);
  font-family: var(--vtPrimaryFont);
  font-size: 0.8rem;
  font-weight: 800;
  width: 450px;
}

.icon {
  width: 50px;
}

.stappenplan {
  flex-direction: column;
  margin-left: 50px;
}

/*
                        RESPONSIVE start 
*/
@media (min-width: 31em) {
}

/*
                        Tablet/ Laptop
*/

@media (min-width: 45em) {
  .description {
    grid-area: text;
  }
}

/*
                       Laptop
*/

@media (min-width: 68em) {
  .detail-body .comments {
    margin-top: 2rem;
  }

  .detail-body .comments h2 {
    color: var(--vtDarkBlue);
    font-size: 0.5rem;
  }

  .detail-body .message {
    color: var(--vtGrey);
    opacity: 50%;
    font-size: 0.45rem;
  }

  .detail-body .comments .comment {
    border: 0.2em solid var(--vtBorders);
    margin-bottom: 1rem;
  }

  .detail-body .comments .comment .comment-name {
    background-color: var(--vtYellow);
    color: var(--vtDarkBlue);
    padding: 0.2rem;
    margin-bottom: 0.15rem;
    font-size: 0.5rem;
  }

  .detail-body .comments .comment .comment-text {
    color: var(--vtDarkBlue);
    margin: 0.2rem;
    font-size: 0.45rem;
  }

  label,
  input {
    width: 100%;
  }

  label {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--vtPrimaryFont);
    color: var(--vtDarkBlue);
  }

  legend {
    color: var(--vtLightBlue);
    text-transform: uppercase;
    font-family: var(--rigid);
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
  }

  input {
    background-color: #e8e8e8;
    border: 0.05rem solid #fafafa;
    font-family: var(--rigid);
    transition: 1.2s;
    font-size: 20px;
  }

  .submit-button {
    margin-top: 1rem;
    background-color: var(--vtLightBlue);
    color: #ffffff;
    font-family: var(--vtPrimaryFont);
    transition: 1.2s;
    font-size: 20px;
  }

  .submit-button:hover {
    transform: scale(1.1);
  }

  fieldset {
    border-style: none;
    width: 50%;
  }
}
